* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
img {
  display: block;
}
html,
body {
  height: 100%;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

#content {
  flex: 1;
  overflow: auto;
  /* position: relative; */
  display: flex;
  flex-direction: column;
}
a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
a:focus,
a:active {
  outline: none;
}
main{
  margin: 0 max(5vw, 0.5rem);
  border-radius: 5px;
}

.main{ 
  height: 100%;
  display: flex; 
  flex-direction:column;
}

.page{
  min-height: 100vh;
  padding-top:3.875rem;
  position: absolute;
  top:0;
  width: 100%;
  z-index: 1;
  background-position: inherit;
  background-size: cover;
}